doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		- var classHeader = "black"
		include default/header.pug
		// header

		+head-second("Бриф на разработку дизайна упаковки и/или этикетки")

		// brief
		.main-grid
			.brief-controls
				a(href="#")
					img(src="../images/ico-print.png")
					span Распечатать
				a(href="#")
					img(src="../images/ico-download.png")
					span Скачать
				a(href="#")
					img(src="../images/ico-mail-orange.png")
					span Отправить на почту
			.brief-hint Ниже заполните бриф на разработку дизайна упаковки и/или этикетки. Качественное и внимательно заполнение поможет нам найти максимально эффективное решение для дизайна вашей упаковки в реалиях современного рынка и с учетом ваших пожеланий.
		// brief
		.main-grid
			.brief-item
				.bf-head
					h2
						i 1 / 7 
						span - Контактные данные
				.bf-row-4.bf-row
					each val in ["Контактное лицо *","+ 7 (___) ___ - __ - __","Email*","Сайт"]
						input(type="text" placeholder=val)
				.bf-row-2.bf-row
					each val in ["Компания","Должность"]
						input(type="text" placeholder=val)
			.brief-item
				.bf-head
					h2
						i 2 / 7 
						span - Целевая аудитория
				.bf-row-4.bf-row
					each val in ["Пол","Возраст","Уровень дохода","Семейное положение"]
						input(type="text" placeholder=val)
				.bf-row
					each val in ["Выгода потребителя (повод для покупки)"]
						input(type="text" placeholder=val)
			.brief-item
				.bf-head
					h2
						i 3 / 7 
						span - Характеристики товара
				.bf-row
					each val in ["История бренда. Описание продукта (товарная группа)","Текущая ситуация по бренду","Торговый знак (бренд), используемый на упаковке","Ассортиментный ряд (серия, линейка), количество SKU","Класс товара (ценовой сегмент)","Конкурентные преимущества товара","Недостатки"]
						input(type="text" placeholder=val)

			.brief-item
				.bf-head
					h2
						i 4 / 7 
						span - Задачи
				.bf-row-2.bf-row
					each val in ["Что нужно сделать","Причины","Цель разработки","Срок реализации проекта"]
						input(type="text" placeholder=val)
			.brief-item
				.bf-head
					h2
						i 5 / 7 
						span - Конкуренты и места продаж
				.bf-row-2.bf-row
					each val in ["Основные конкуренты","Что нравится у конкурентов","Недостатки конкурентов","Планируемая дистрибуция"]
						input(type="text" placeholder=val)
			.brief-item
				.bf-head
					h2
						i 6 / 7 
						span - Проводимые работы в рамках разработки упаковки
				.bf-row
					each val in ["Позиционирование товара","Разработка названия (нейминг)","Разработка или рестайлинг товарного знака/логотипа","Регистрация в Роспатенте","Концептуальная разработка вариантов дизайна упаковки/этикетки (проект создается с 0 или необходим рестайлинг)","Разработка формы упаковки","Проведение фотосъемки /использование фотобанков","Написание текстов для упаковки (легенда, промо-тексты, технические тексты, переводы)","Отрисовка уникальных иллюстраций","Адаптация концепции для ассортиментных позиций продуктовой линейки / других продуктов / других видов упаковки","Разработка оригинал-макетов","Подготовка и вывод цветопроб","Создание брендбука и рекламных материалов"]
						.checkbox
							label
								input(type="checkbox")
								span 
									= val
			.brief-item
				.bf-head
					h2
						i 7 / 7 
						span -Графическое решение дизайна
				.bf-row
					each val in ["Общая стилистика, цветовое решение и используемые образы","Графические и текстовые элементы, обязательные к использованию","Обязательная техническая информация (Наименование продукта, тех. надписи на каких языках, штрих-код, знаки маркировки и т.д.)","Метод печати упаковки","Количество цветов, используемое в дизайн концепции (есть ли предпочтения между CMYK и Pantone)","Формат предоставления готовых к печати дизайн макетов","Дополнительные пожелания и ограничения"]
						input(type="text" placeholder=val)

			.brief-end.form
				.bf-row
					.checkbox
						label
							input(type="checkbox")
							span 
								|Отправляя данные вы подтверждаете свое согласие на обработку персональных данных в соответствии с 
								a(href="#") Политикой конфиденциальности
				.bf-row
					.checkbox
						label
							input(type="checkbox")
							span 
								|Продублировать заполненный бриф на мою почту
				.btn-wc
					.link
						img(src="../images/ico-mail-orange.png")
						input(type="submit" value="Отправить заявку") 
		// brief


		// footer
		include default/footer.pug
		// footer

